body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u287 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u288 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 158, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u289 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:80px;
}
#u290 {
  position:absolute;
  left:2px;
  top:32px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u291 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:42px;
}
#u292 {
  position:absolute;
  left:23px;
  top:19px;
  width:23px;
  height:42px;
  color:#FFFFFF;
}
#u293 {
  position:absolute;
  left:2px;
  top:13px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u294 {
  position:absolute;
  left:56px;
  top:26px;
  width:49px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u295 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u296 {
  position:absolute;
  left:448px;
  top:22px;
  width:129px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u297 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u298 {
  position:absolute;
  left:699px;
  top:11px;
  width:91px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u299 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u300 {
  position:absolute;
  left:699px;
  top:43px;
  width:183px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u301 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u302 {
  position:absolute;
  left:878px;
  top:17px;
  width:50px;
  height:47px;
}
#u303 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u304 {
  position:absolute;
  left:946px;
  top:15px;
  width:46px;
  height:50px;
}
#u305 {
  position:absolute;
  left:2px;
  top:17px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u306 {
  position:absolute;
  left:91px;
  top:311px;
  width:130px;
  height:130px;
  font-size:48px;
}
#u307 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u308 {
  position:absolute;
  left:267px;
  top:311px;
  width:130px;
  height:130px;
  font-size:48px;
}
#u309 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u310 {
  position:absolute;
  left:448px;
  top:311px;
  width:130px;
  height:130px;
  font-size:48px;
}
#u311 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u312 {
  position:absolute;
  left:628px;
  top:311px;
  width:130px;
  height:130px;
  font-size:48px;
}
#u313 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u314 {
  position:absolute;
  left:812px;
  top:311px;
  width:130px;
  height:130px;
  font-size:48px;
}
#u315 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u316 {
  position:absolute;
  left:96px;
  top:212px;
  width:120px;
  height:60px;
  font-size:36px;
}
#u317 {
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u318 {
  position:absolute;
  left:272px;
  top:212px;
  width:120px;
  height:60px;
  font-size:36px;
}
#u319 {
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u320 {
  position:absolute;
  left:453px;
  top:212px;
  width:120px;
  height:60px;
  font-size:36px;
}
#u321 {
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u322 {
  position:absolute;
  left:633px;
  top:212px;
  width:120px;
  height:60px;
  font-size:36px;
}
#u323 {
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u324 {
  position:absolute;
  left:817px;
  top:212px;
  width:120px;
  height:60px;
  font-size:36px;
}
#u325 {
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:80px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u326 {
  position:absolute;
  left:374px;
  top:574px;
  width:250px;
  height:80px;
  font-size:36px;
}
#u327 {
  position:absolute;
  left:2px;
  top:15px;
  width:246px;
  word-wrap:break-word;
}
